.float{
	position:fixed;
	height:70px; 
  width:70px; 
	bottom:50px;
	right:50px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	z-index: 1000;
}

.my-float{
	margin: 5px 2px; /* dont find any relavtive changes after edit it, so i let it be */
}
.store-banner-store-banner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between
}

.store-banner-image {
  width: 90px;
  object-fit: cover
}

.store-banner-image1 {
  width: 90px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit)
}

.header-container-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.header-container-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.header-container-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.header-container-image {
  object-fit: cover
}

.header-container-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row
}

.header-container-text {
  transition: .3s;
  margin-right: var(--dl-space-space-doubleunit)
}

.header-container-text:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text01 {
  transition: .3s;
  margin-right: var(--dl-space-space-doubleunit)
}

.header-container-text01:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text02 {
  transition: .3s;
  margin-right: var(--dl-space-space-doubleunit)
}

.header-container-text02:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text03 {
  transition: .3s;
  margin-right: var(--dl-space-space-doubleunit)
}

.header-container-text03:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text04 {
  transition: .3s;
  margin-right: var(--dl-space-space-doubleunit)
}

.header-container-text04:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text05 {
  transition: .3s
}

.header-container-text05:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-icon {
  width: 24px;
  height: 24px
}

.header-container-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.header-container-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.header-container-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit)
}

.header-container-mobile-menu {
  top: 0;
  flex: 0 0 auto;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white)
}

.header-container-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between
}

.header-container-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.header-container-image1 {
  width: 100px;
  object-fit: cover
}

.header-container-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}

.header-container-icon05 {
  width: 24px;
  height: 24px
}

.header-container-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}

.header-container-text06 {
  transition: .3s;
  margin-bottom: var(--dl-space-space-halfunit)
}

.header-container-text06:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text07 {
  transition: .3s;
  margin-bottom: var(--dl-space-space-halfunit)
}

.header-container-text07:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text08 {
  transition: .3s;
  margin-bottom: var(--dl-space-space-halfunit)
}

.header-container-text08:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text09 {
  transition: .3s;
  margin-bottom: var(--dl-space-space-halfunit)
}

.header-container-text09:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text10 {
  transition: .3s;
  margin-bottom: var(--dl-space-space-halfunit)
}

.header-container-text10:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-text11 {
  transition: .3s
}

.header-container-text11:hover {
  color: var(--dl-color-turquoise-default)
}

.header-container-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column
}

.header-container-container1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row
}

.header-container-link {
  display: contents
}

.header-container-container2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900)
}

.header-container-icon07 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: .3s
}

.header-container-icon07:hover {
  fill: var(--dl-color-purple-default)
}

.header-container-link1 {
  display: contents
}

.header-container-container3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900)
}

.header-container-icon09 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: .3s
}

.header-container-icon09:hover {
  fill: var(--dl-color-pink-default)
}

.header-container-link2 {
  display: contents
}

.header-container-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900)
}

.header-container-icon11 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: .3s
}

.header-container-icon11:hover {
  fill: var(--dl-color-turquoise-default)
}

.header-container-link3 {
  display: contents
}

.header-container-container5 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900)
}

.header-container-icon13 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: .3s
}

.header-container-icon13:hover {
  fill: var(--dl-color-orange-default)
}

@media (max-width:991px) {
  .header-container-container {
    display: none
  }
}

@media (max-width:767px) {
  .header-container-menu {
    display: none
  }

  .header-container-burger-menu {
    display: block
  }
}

@media (max-width:479px) {
  .header-container-container {
    display: none
  }

  .header-container-bot {
    width: 100%
  }
}

.primary-button-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.primary-button-register-here {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: .3s;
  padding-top: 12px;
  border-width: 0;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: 32px;
  padding-bottom: 12px;
  background-color: #f58f30
}

.primary-button-register-here:hover {
  background-color: var(--dl-color-purple-900)
}

.primary-button-register-here:active {
  background-color: var(--dl-color-purple-1000)
}

.testimonials-card-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  box-shadow: 0 10px 20px 0 rgba(41, 41, 42, .07);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-gray-white)
}

.testimonials-card-image {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-doubleunit)
}

.testimonials-card-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start
}

.testimonials-card-image1 {
  top: 81px;
  left: 46px;
  right: auto;
  width: 15px;
  bottom: auto;
  object-fit: cover
}

.testimonials-card-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start
}

.testimonials-card-text {
  margin-bottom: var(--dl-space-space-doubleunit)
}

.testimonials-card-text2 {
  color: var(--dl-color-gray-700)
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column
}

.home-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.home-blur-background {
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2
}

.home-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: .6;
  position: absolute;
  object-fit: cover
}

.home-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: .4;
  position: absolute;
  object-fit: cover
}

.home-left {
  top: 653px;
  left: 0;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover
}

.home-right {
  top: 441px;
  left: auto;
  right: 0;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover
}

.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}

.home-text {
  font-size: 72px;
  box-shadow: 5px 5px 10px 0 #d4d4d4
}

.home-text01 {
  color: #000;
  line-height: 1
}

.home-text03 {
  color: #00f8ff;
  line-height: 1
}

.home-text05 {
  color: var(--dl-color-gray-900);
  font-size: 32px
}

.home-image {
  width: 320px;
  object-fit: cover
}

.home-features {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start
}

.home-text07 {
  max-width: 500px;
  text-align: center
}

.home-features1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center
}

.home-container02 {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.home-image1 {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover
}

.home-text08 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit)
}

.home-text09 {
  text-align: center
}

.home-container03 {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.home-image2 {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover
}

.home-text10 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit)
}

.home-text11 {
  text-align: center
}

.home-container04 {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.home-image3 {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover
}

.home-text14 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit)
}

.home-text15 {
  text-align: center
}

.home-container05 {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.home-image4 {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover
}

.home-text16 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit)
}

.home-text17 {
  text-align: center
}

.home-container06 {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.home-image5 {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover
}

.home-text18 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit)
}

.home-text19 {
  text-align: center
}

.home-container07 {
  width: 320px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column
}

.home-image6 {
  width: var(--dl-size-size-doubleunit);
  height: var(--dl-size-size-doubleunit);
  object-fit: cover
}

.home-text20 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit)
}

.home-text21 {
  text-align: center
}

.home-main1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 0%
}

.home-blur-background1 {
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2
}

.home-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: .6;
  position: absolute;
  object-fit: cover
}

.home-purple-circle1 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: .4;
  position: absolute;
  object-fit: cover
}

.home-left1 {
  top: 653px;
  left: 0;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover
}

.home-right1 {
  top: 441px;
  left: auto;
  right: 0;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover
}

.home-hero1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}

.home-text22 {
  font-size: 72px;
  box-shadow: #d4d4d4 5px 5px 10px 0
}

.home-text29 {
  color: var(--dl-color-gray-900);
  font-size: 32px
}

.home-icon {
  width: 10%;
  height: auto;
  align-self: center
}

.home-image7 {
  width: 320px;
  object-fit: cover
}

.home-testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
  background-color: var(--dl-color-turquoise-100)
}

.home-container09 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  flex-direction: row;
  justify-content: center
}

.home-container10 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column
}

.home-image8 {
  top: -22px;
  left: -65px;
  right: auto;
  width: 100px;
  bottom: auto;
  z-index: 10;
  position: absolute;
  object-fit: cover
}

.home-text30 {
  z-index: 100;
  max-width: 500px
}

.home-container11 {
  flex: 0 0 auto;
  width: 350px;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.home-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column
}

.home-container13 {
  width: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}

.home-container14 {
  width: 300px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column
}

@media (max-width:991px) {
  .home-hero {
    height: auto;
    flex-direction: column
  }

  .home-container01 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit)
  }

  .home-text {
    text-align: center
  }

  .home-hero1 {
    height: auto;
    flex-direction: column
  }

  .home-container08 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit)
  }

  .home-text22 {
    text-align: center
  }

  .home-container09 {
    flex-direction: column
  }

  .home-container11 {
    align-self: center;
    margin-bottom: var(--dl-space-space-doubleunit)
  }

  .home-container12 {
    align-items: center;
    margin-left: 0
  }

  .home-container14 {
    width: 350px
  }
}

@media (max-width:767px) {
  .home-text {
    font-size: 50px;
    text-align: center
  }

  .home-text06 {
    font-size: 40px
  }

  .home-text22 {
    font-size: 50px;
    text-align: center
  }

  .home-container10 {
    align-items: center
  }

  .home-image8 {
    top: -2px;
    left: 21px;
    right: auto;
    width: 50px;
    bottom: auto
  }

  .home-text30 {
    font-size: 40px;
    text-align: center
  }
}

@media (max-width:479px) {
  .home-text {
    font-size: 50px
  }

  .home-text01 {
    color: #ff6e00;
    line-height: 1
  }

  .home-text02 {
    color: #ff6e00;
    line-height: 1
  }

  .home-text03 {
    color: #00f8ff;
    line-height: 1
  }

  .home-text04 {
    color: #ff6e00
  }

  .home-text05 {
    color: inherit;
    font-size: 32px;
    align-self: center;
    box-shadow: inherit;
    text-align: center
  }

  .home-text06 {
    text-align: center
  }

  .home-text07 {
    text-align: center
  }

  .home-text22 {
    font-size: 50px
  }

  .home-text29 {
    color: inherit;
    font-size: 32px;
    align-self: center;
    box-shadow: inherit;
    text-align: center
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column
}

.home-get-started {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #375ee0
}

.home-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column
}

.home-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column
}

.home-heading1 {
  color: #c1fffc;
  font-size: 64px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600
}

.home-hero-buttons {
  gap: var(--dl-space-space-unit);
  width: 591px;
  height: 90px;
  display: flex;
  z-index: 15;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center
}

.home-browser-btn {
  gap: var(--dl-space-space-halfunit);
  fill: #fff;
  color: #fff;
  cursor: pointer;
  display: flex;
  transition: .3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #000
}

.home-browser-btn:hover {
  background-color: rgba(0, 0, 0, .75)
}

.home-open-in-browser {
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-android-btn {
  gap: var(--dl-space-space-halfunit);
  fill: #fff;
  color: #fff;
  cursor: pointer;
  display: flex;
  transition: .3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #000
}

.home-android-btn:hover {
  background-color: rgba(0, 0, 0, .75)
}

.home-open-in-android {
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-faq {
  width: 100%;
  height: 1102px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 44px;
  background-color: #f3f5fa
}

.home-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 1063px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column
}

.home-header {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start
}

.home-text {
  width: 100%;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px
}

.home-rows {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row
}

.home-column {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column
}

.home-title {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-description {
  font-family: Poppins;
  line-height: 24px
}

.home-title1 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-description1 {
  font-family: Poppins;
  line-height: 24px
}

.home-question2 {
  border-bottom-width: 0
}

.home-title2 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-description2 {
  font-family: Poppins;
  line-height: 24px
}

.home-column1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column
}

.home-question3 {
  border-right-width: 0
}

.home-title3 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-description3 {
  font-family: Poppins;
  line-height: 24px
}

.home-question4 {
  border-right-width: 0
}

.home-title4 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-description4 {
  font-family: Poppins;
  line-height: 24px
}

.home-question5 {
  border-right-width: 0;
  border-bottom-width: 0
}

.home-title5 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500
}

.home-description5 {
  font-family: Poppins;
  line-height: 24px
}

.home-text3 {
  margin-top: -1px
}

.home-container2 {
  flex: 0 0 auto;
  width: 1010px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center
}

.home-content2 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between
}

.home-heading2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start
}

.home-image {
  width: 100px;
  object-fit: cover
}

.home-text4 {
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px
}

.home-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center
}

.home-header1 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px
}

.home-link {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 14px;
  transition: .3s;
  line-height: 21px
}

.home-link:hover {
  color: rgba(196, 196, 196, .5)
}

.home-link1 {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 14px;
  transition: .3s;
  line-height: 21px
}

.home-link1:hover {
  color: rgba(196, 196, 196, .5)
}

.home-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center
}

.home-header2 {
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px
}

.home-link2 {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 14px;
  transition: .3s;
  line-height: 21px
}

.home-link2:hover {
  color: rgba(196, 196, 196, .5)
}

.home-link3 {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 14px;
  transition: .3s;
  line-height: 21px
}

.home-link3:hover {
  color: rgba(196, 196, 196, .5)
}

.home-link4 {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 14px;
  transition: .3s;
  line-height: 21px
}

.home-link4:hover {
  color: rgba(196, 196, 196, .5)
}

.home-text5 {
  color: #c4c4c4;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px
}

@media (max-width:320px) {
  .home-container {
    align-items: center;
    justify-content: flex-start
  }

  .home-get-started {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    align-self: center
  }

  .home-heading1 {
    width: 100%
  }

  .home-hero-buttons {
    width: 90%;
    height: 100%;
    margin: var(--dl-space-space-unit);
    flex-direction: column
  }

  .home-browser-btn {
    width: 100%
  }

  .home-android-btn {
    width: 100%
  }

  .home-faq {
    height: 100%;
    padding: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius2);
    justify-content: flex-start
  }

  .home-content1 {
    gap: 0;
    width: auto;
    height: 100%;
    max-width: auto;
    align-self: center;
    align-items: center
  }

  .home-header {
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }

  .home-rows {
    align-items: center;
    flex-direction: row;
    justify-content: center
  }

  .home-column {
    width: 50%;
    align-self: center;
    align-items: center;
    justify-content: space-between
  }

  .home-question {
    padding: var(--dl-space-space-unit);
    position: relative;
    max-width: auto;
    align-self: center;
    align-items: center;
    justify-content: flex-start
  }

  .home-description {
    width: auto;
    height: auto;
    font-family: Poppins;
    line-height: 24px
  }

  .home-question1 {
    padding: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
    justify-content: flex-start
  }

  .home-question2 {
    padding: var(--dl-space-space-unit);
    max-width: auto;
    align-self: center;
    align-items: flex-start
  }

  .home-column1 {
    width: 50%;
    align-self: center;
    align-items: center;
    justify-content: space-between
  }

  .home-question3 {
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
    max-width: auto;
    align-self: center;
    align-items: center;
    justify-content: flex-start
  }

  .home-question4 {
    padding: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
    justify-content: flex-start
  }

  .home-question5 {
    padding: var(--dl-space-space-unit);
    max-width: auto;
    align-items: center;
    justify-content: flex-start
  }

  .home-text3 {
    width: 90%;
    margin-top: 0;
    text-align: center;
    line-height: 1
  }

  .home-container2 {
    flex: 1;
    width: 100%;
    height: 443px;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between
  }

  .home-content2 {
    width: 100%;
    height: 232px;
    max-width: auto;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start
  }

  .home-heading2 {
    height: 256px;
    align-self: center;
    align-items: center;
    justify-content: center
  }

  .home-text5 {
    max-width: auto;
    align-self: stretch
  }
}

.primary-button-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.primary-button-register-here {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: .3s;
  padding-top: 12px;
  border-width: 0;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: 32px;
  padding-bottom: 12px;
  background-color: #f58f30
}

.primary-button-register-here:hover {
  background-color: var(--dl-color-purple-900)
}

.primary-button-register-here:active {
  background-color: var(--dl-color-purple-1000)
}

.main-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.main-blur-background {
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2
}

.main-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: .6;
  position: absolute;
  object-fit: cover
}

.main-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: .4;
  position: absolute;
  object-fit: cover
}

.main-left {
  top: 653px;
  left: 0;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover
}

.main-right {
  top: 441px;
  left: auto;
  right: 0;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover
}

.main-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}

.main-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}

.main-text {
  font-size: 72px;
  box-shadow: 5px 5px 10px 0 #d4d4d4
}

.main-text1 {
  color: #ff6e00;
  line-height: 1
}

.main-text3 {
  color: #00f8ff;
  line-height: 1
}

.main-text5 {
  color: var(--dl-color-gray-900);
  font-size: 32px
}

.main-image {
  width: 320px;
  object-fit: cover
}

@media (max-width:991px) {
  .main-hero {
    height: auto;
    flex-direction: column
  }

  .main-container {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit)
  }

  .main-text {
    text-align: center
  }
}

@media (max-width:767px) {
  .main-text {
    font-size: 50px;
    text-align: center
  }
}

@media (max-width:479px) {
  .main-text {
    font-size: 50px
  }

  .main-text1 {
    color: #ff6e00;
    line-height: 1
  }

  .main-text2 {
    color: #ff6e00;
    line-height: 1
  }

  .main-text3 {
    color: #00f8ff;
    line-height: 1
  }

  .main-text4 {
    color: #ff6e00
  }

  .main-text5 {
    color: inherit;
    font-size: 32px;
    align-self: center;
    box-shadow: inherit;
    text-align: center
  }
}

.home-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between
}

.home-goals {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  min-height: auto;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end
}

.home-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  height: 932px;
  align-self: center;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  margin-right: 0;
  display: flex;
  align-items: center;
  flex-direction: column
}

.home-text {
  color: #04f;
  font-size: 3rem;
  align-self: center
}

.home-text01 {
  font-size: 1.15rem;
  max-width: 60%;
  align-self: flex-start;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits)
}

.home-image {
  top: 0;
  right: 0;
  width: 40%;
  bottom: 0;
  margin: auto;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
  padding-left: var(--dl-space-space-unit)
}

.home-text04 {
  font-size: 20px;
  align-self: flex-start;
  text-align: left;
  border-color: transparent;
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit)
}

.home-text05 {
  font-style: normal;
  font-weight: 800
}

.home-text09 {
  width: auto;
  font-size: 20px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit)
}

.home-text10 {
  font-style: normal;
  font-weight: 800
}

@media (max-width:479px) {
  .home-container {
    padding: 0
  }

  .home-goals {
    width: 100%;
    height: auto
  }

  .home-text {
    max-width: auto;
    align-self: center;
    text-align: center
  }

  .home-text01 {
    width: auto;
    max-width: auto;
    align-self: center;
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit)
  }

  .home-image {
    right: 0;
    width: 100%;
    height: auto;
    margin: auto;
    border-color: var(--dl-color-gray-black);
    border-width: 1px
  }
}

@media only screen and (min-width:768px) {
  .mobile-image {
    display: none
  }
}

@media only screen and (max-width:767px) {
  .desktop-image {
    display: none
  }
}

ul {
  margin: 0;
  padding: 0
}

.footer-section {
  background: #151414;
  position: relative;
  width: 100%;
  text-align: center
}

.footer-content {
  position: relative;
  z-index: 2
}

.footer-logo {
  margin-bottom: 30px
}

.footer-logo img {
  max-width: 200px
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px
}

.footer-widget ul li a:hover {
  color: #ff5e14
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize
}

.copyright-area {
  background: #202020;
  padding: 25px 0
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787
}

.copyright-text p a {
  color: #ff5e14
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px
}

.footer-menu li:hover a {
  color: #ff5e14
}

.footer-menu li a {
  font-size: 14px;
  color: #878787
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%
}

.fa:hover {
  opacity: .7
}

.fa-facebook {
  background: #3b5998;
  color: #fff
}

.fa-youtube {
  background: #b00;
  color: #fff
}

.fa-instagram {
  background: #d62976;
  color: #fff
}

.fa-telegram {
  background: #08c;
  color: #fff
}

.fa-google-plus {
  background: red;
  color: #fff
}

.accordion-item a{
  font-weight: 600;
}