:root {
  --dl-color-gray-300: #d9dbe1ff;
  --dl-color-gray-700: #969babff;
  --dl-color-gray-800: #474a57ff;
  --dl-color-gray-900: #18191fff;
  --dl-color-pink-100: #ffb1e6ff;
  --dl-color-pink-800: #ff72d2ff;
  --dl-size-size-unit: 1rem;
  --dl-color-gray-black: #000000ff;
  --dl-color-gray-white: #ffffff;
  --dl-color-orange-100: #ffe3c1ff;
  --dl-color-orange-800: #ffc278ff;
  --dl-color-purple-100: #f1e4ffff;
  --dl-color-purple-800: #d6b1ffff;
  --dl-color-purple-900: #ac69f8ff;
  --dl-space-space-unit: 1rem;
  --dl-color-purple-1000: #6209c6ff;
  --dl-color-pink-default: #f22bb2ff;
  --dl-size-size-halfunit: 0.5rem;
  --dl-color-turquoise-100: #d5fafcff;
  --dl-color-turquoise-800: #75e3eaff;
  --dl-radius-radius-round: 50%;
  --dl-color-orange-default: #fe9a22ff;
  --dl-color-purple-default: #8c30f5ff;
  --dl-size-size-doubleunit: 2rem;
  --dl-size-size-tripleunit: 3rem;
  --dl-space-space-halfunit: 0.5rem;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius6: 6px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-doubleunit: 2rem;
  --dl-space-space-tripleunit: 3rem;
  --dl-color-turquoise-default: #2ec5ceff;
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-300: #0074f0;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px
}

.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: .5rem 1rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white)
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: .5rem 1rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white)
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: .5rem;
  font-family: Inter;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white)
}

.Body2 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  text-transform: none;
  text-decoration: none
}

.Lead1 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.77;
  text-transform: none;
  text-decoration: none
}

.Headline6 {
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none
}

.Body1 {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none
}

.Lead2 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.77;
  text-transform: none;
  text-decoration: none
}

.Headline3 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none
}

.Headline2 {
  font-size: 48px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none
}

.Headline5 {
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  text-transform: none;
  text-decoration: none
}

.Subtitle2 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none
}

.MediumLabel {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  text-transform: none;
  text-decoration: none
}

.Headline1 {
  font-size: 72px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none
}

.Subtitle1 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 700;
  text-transform: none;
  text-decoration: none
}

.Headline4 {
  font-size: 28px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none
}

.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none
}

.link {
  font-style: normal;
  transition: .3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none
}

.link:hover {
  color: rgba(0, 0, 0, .6)
}

.quote {
  display: none
}

.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
  src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 0%
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none
}

.fa-ul>li {
  position: relative
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center
}

.fa-li.fa-lg {
  left: -1.85714286em
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.fa-user:before {
  content: "\f007"
}

.fa-home:before {
  content: "\f015"
}

.fa-download:before {
  content: "\f019"
}

.fa-tag:before {
  content: "\f02b"
}

.fa-font:before {
  content: "\f031"
}

.fa-text-height:before {
  content: "\f034"
}

.fa-text-width:before {
  content: "\f035"
}

.fa-align-left:before {
  content: "\f036"
}

.fa-align-center:before {
  content: "\f037"
}

.fa-align-right:before {
  content: "\f038"
}

.fa-image:before,
.fa-photo:before {
  content: "\f03e"
}

.fa-plus-circle:before {
  content: "\f055"
}

.fa-plus:before {
  content: "\f067"
}

.fa-twitter:before {
  content: "\f099"
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a"
}

.fa-link:before {
  content: "\f0c1"
}

.fa-google-plus:before {
  content: "\f0d5"
}

.fa-money:before {
  content: "\f0d6"
}

.fa-desktop:before {
  content: "\f108"
}

.fa-mobile:before {
  content: "\f10b"
}

.fa-quote-left:before {
  content: "\f10d"
}

.fa-quote-right:before {
  content: "\f10e"
}

.fa-circle:before {
  content: "\f111"
}

.fa-code:before {
  content: "\f121"
}

.fa-maxcdn:before {
  content: "\f136"
}

.fa-html5:before {
  content: "\f13b"
}

.fa-css3:before {
  content: "\f13c"
}

.fa-youtube:before {
  content: "\f167"
}

.fa-instagram:before {
  content: "\f16d"
}

.fa-android:before {
  content: "\f17b"
}

.fa-google:before {
  content: "\f1a0"
}

.fa-copyright:before {
  content: "\f1f9"
}

.fa-user-plus:before {
  content: "\f234"
}

.fa-500px:before {
  content: "\f26e"
}

.fa-google-plus-circle:before {
  content: "\f2b3"
}

.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4"
}

.fa-user-circle:before {
  content: "\f2bd"
}

.fa-telegram:before {
  content: "\f2c6"
}

.fa-s15:before {
  content: "\f2cd"
}
