.primary-button1-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.primary-button1-register-here {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 12px;
  background-color: #f58f30;
}
.primary-button1-register-here:hover {
  background-color: var(--dl-color-purple-900);
}
.primary-button1-register-here:active {
  background-color: var(--dl-color-purple-1000);
}
